name: Build LostEngine Geyser Extension
on:
  push:
    branches: [ "main" ]
    paths:
      - 'LostEngineGeyserExtension/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'LostEngineGeyserExtension/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Java
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'

      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Build Extension
        working-directory: ./LostEngineGeyserExtension
        run: ./gradlew build

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: "LostEngineGeyserExtension"
          path: "LostEngineGeyserExtension/build/libs/*.jar"